{% extends "base.twig" %}

{% block title %}
    Informations Eleve
{% endblock %}


{% block container %}
    <script type="text/javascript">
        //<!--
        function change_onglet(name)
        {
            document.getElementById('onglet_'+anc_onglet).className = 'onglet_0 onglet';
            document.getElementById('onglet_'+name).className = 'onglet_1 onglet';
            document.getElementById('contenu_onglet_'+anc_onglet).style.display = 'none';
            document.getElementById('contenu_onglet_'+name).style.display = 'block';
            anc_onglet = name;
        }
        //-->
    </script>

    <h2> {{ eleve.nom }} {{ eleve.prenom }} </h2>

    <div class="systeme_onglets">
        <div class="onglets">
            <span class="onglet_0 onglet" id="onglet_infos1" onclick="javascript:change_onglet('infos1');">Information General</span>
            <span class="onglet_0 onglet" id="onglet_infos3" onclick="javascript:change_onglet('infos3');">Information College</span>
        </div>

        <div class="contenu_onglets">

            <div class="contenu_onglet" id="contenu_onglet_infos1">
                <p class="card-text">Date de naissance : {{ eleve.dateNaissance | date('d/m/Y') }}</p>
                <p class="card-text">Adresse : {{ eleve.adresse }}</p>
                <p class="card-text">Email : {{ eleve.email }}</p>
                <p class="card-text">Telephone : {{ eleve.telephone }}</p>
            </div>

            <div class="contenu_onglet" id="contenu_onglet_infos3">
                <p>Classe : {{ classe.nom }}</p>

                {% if parrain == false %}
                    <p>Cette élève n'a pas de parrain car il est en 3eme  </p>
                {% else %}
                    <p>Nom du Parrain : {{ parrain.prenom }} {{ parrain.nom }} </p>
                {% endif %}
                <p>A été evalué : {{ infos }}  </p>

                {% if evaluations %}

                <table>
                    <thead>
                    <td>Evaluations</td>
                    <td>Professeurs</td>
                    <td>Dates</td>
                    <td>Note</td>

                    </thead>

                    {% for evaluation in evaluations %}
                        <tr>

                            <td>{{ evaluation.nomEval }}</td>
                            <td>{{ evaluation.nomProf }} {{ evaluation.prenomProf }} </td>
                            <td>{{ evaluation.date }}</td>
                            <td>{{ evaluation.note }} / 20</td>

                        </tr>
                    {% endfor %}
                {% endif %}

                </table>

            </div>
        </div>
    </div>
    <script type="text/javascript">
        //<!--
        var anc_onglet = 'infos1';
        change_onglet(anc_onglet);
        //-->
    </script>



{% endblock %}