{% extends "baseinfos.twig" %}

{% block title %}
    Professeurs
{% endblock %}




  {% block nom %}
      <h2> {{ professeur.nom }} {{ professeur.prenom }} </h2>
  {% endblock %}




        {% block titreOnglet1 %}
            Information General
        {% endblock %}
            {% block dataOnglet1 %}
                <p class="card-text">Date de naissance : {{ professeur.dateNaissance | date('d/m/Y') }}</p>
                <p class="card-text">Age : {{ professeur.age }}</p>
            {% endblock %}




        {% block titreOnglet2 %}
            Contact
        {% endblock %}
            {% block dataOnglet2 %}
                <p class="card-text">Adresse : {{ professeur.adresse}}</p>
                <p class="card-text">Email : {{ professeur.email}}</p>
                <p class="card-text">N° de telephone : {{ professeur.telephone }}</p>
            {% endblock %}




        {% block titreOnglet3 %}
            Information College
        {% endblock %}
            {% block dataOnglet3 %}
                <p>Date d'entree en fonction : {{ professeur.dateEntre }}</p>
                {% if classe %}
                    <p>Responsable de la classe : {{ classe.nom }}</p>
                {% else %}
                    <p>Le professeur n'est reponsable d'aucune classe</p>
                {% endif %}
                <ul>Matière enseigné :
                    {% for key, value in matiere %}
                        <li> {{ value.nom }} </li>
                    {% endfor %}
                </ul>
            {% endblock %}