{% extends "baseinfos.twig" %}

{% block title %}
    Classe
{% endblock %}




  {% block nom %}
      <h2> {{ classe.nom }} </h2>
  {% endblock %}




        {% block titreOnglet1 %}
            Information General
        {% endblock %}
            {% block dataOnglet1 %}
                <p class="card-text">Niveau de la classe : {{ classe.niveau }}</p>
                <p class="card-text">Professeur principal : {{ professeur.nom }} {{ professeur.prenom }} </p>
            {% endblock %}




        {% block titreOnglet2 %}
            Eleves
        {% endblock %}
            {% block dataOnglet2 %}
                {% for eleve in eleves %}
                    <li> {{ eleve.0 }} {{ eleve.1 }} </li>
                {% endfor %}
            {% endblock %}




        {% block titreOnglet3 %}
            Cours
        {% endblock %}
            {% block dataOnglet3 %}
                {% for value in cours %}
                    <p>Le cours : {{ value.0 }} <br>
                        a été fait par {{ value.1 }} {{ value.2 }}</p>
                {% endfor %}
            {% endblock %}

