{% extends "baseinfos.twig" %}

{% block title %}
    Eleve
{% endblock %}




  {% block nom %}
      <h2> {{ eleve.nom }} {{ eleve.prenom }}</h2>
  {% endblock %}

        {% block titreOnglet1 %}
            Information General
        {% endblock %}

            {% block dataOnglet1 %}

                <p class="card-text">Date de naissance : {{ eleve.dateNaissance | date('d/m/Y') }}</p>
                <p class="card-text">Adresse : {{ eleve.adresse }}</p>
                <p class="card-text">Email : {{ eleve.email }}</p>
                <p class="card-text">Telephone : {{ eleve.telephone }}</p>

            {% endblock %}




        {% block titreOnglet2 %}
            Information College
        {% endblock %}

            {% block dataOnglet2 %}

                <p>Classe : {{ classe.nom }}</p>

                {% if parrain == false %}
                    <p>Cette élève n'a pas de parrain car il est en 3eme  </p>
                {% else %}
                    <p>Nom du Parrain : {{ parrain.prenom }} {{ parrain.nom }} </p>
                {% endif %}
                <p>A été evalué : {{ infos }}  </p>

                {% if evaluations %}

                    <table>
                    <thead>
                    <td>Evaluations</td>
                    <td>Professeurs</td>
                    <td>Dates</td>
                    <td>Note</td>

                    </thead>

                    {% for evaluation in evaluations %}
                        <tr>

                            <td>{{ evaluation.nomEval }}</td>
                            <td>{{ evaluation.nomProf }} {{ evaluation.prenomProf }} </td>
                            <td>{{ evaluation.date }}</td>
                            <td>{{ evaluation.note }} / 20</td>

                        </tr>
                    {% endfor %}
                {% endif %}

                </table>

            {% endblock %}




        {% block onglet3 %}

        {% endblock %}