{% extends "baseinfos.twig" %}

{% block title %}
    Cours
{% endblock %}




  {% block nom %}
      <h2> {{ moncours.nom }} </h2>
  {% endblock %}

        {% block titreOnglet1 %}
            Information General
        {% endblock %}

            {% block dataOnglet1 %}

                <p class="card-text">Matiere du cours : {{ matiere.nom }}</p>
                <p class="card-text">Niveau du cours : {{ moncours.niveau }} eme</p>

            {% endblock %}




        {% block titreOnglet2 %}
            Classe
        {% endblock %}

            {% block dataOnglet2 %}

                {% if profsClasses %}

                    {% for profclasse in profsClasses %}
                        <p class="card-text">Professeur : {{ profclasse.0}} {{ profclasse.1}}</p>
                        <p class="card-text">Classe : {{ profclasse.2}}</p>
                    {% endfor %}

                {% else %}
                    <p>Aucune classe n'a suivi ce cours</p>
                {% endif %}

            {% endblock %}




        {% block titreOnglet3 %}
            Evaluation
        {% endblock %}

            {% block dataOnglet3 %}

                {% if evaluations %}
                    <ul>
                        {% for evaluation in evaluations %}
                            <li>{{ evaluation }}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>Aucune evaluation pour ce cours</p>
                {% endif %}

            {% endblock %}

